<mat-horizontal-stepper labelPosition="bottom"
                        linear="true"
                        #stepper>
    <mat-step label="مرحله اول"
              [stepControl]="sendSmsForm">
        <form fxLayout="column"
              fxLayoutAlign="center center"
              (submit)="onSendSms()"
              [formGroup]="sendSmsForm">
            <mat-form-field>
                <mat-label>کد ملی</mat-label>
                <input type="tel"
                       formControlName="nationalCode"
                       matInput>
                <mat-error>
                    {{validatorCoreService.GetMessage(sendSmsForm.controls.nationalCode)}}</mat-error>
            </mat-form-field>
            <re-captcha size="invisible"
                        #captchaRef="reCaptcha"
                        (resolved)="onSendSms()"
                        formControlName="captcha"></re-captcha>
            <button mat-raised-button
                    [loading]="isloading"
                    color="primary"
                    matStepperNext
                    type="button"
                    (click)="captchaRef.execute()"
                    [disabled]="sendSmsForm.invalid">ثبت</button>
            <button mat-raised-button
                    [disabled]="isloading"
                    color="warn"
                    type="button"
                    routerLink="/">
                بازگشت
            </button>
        </form>
    </mat-step>
    <mat-step label="مرحله دوم"
              editable="false"
              [stepControl]="checkCodeForm">
        <form fxLayout="column"
              [formGroup]="checkCodeForm"
              (submit)="onCheckCodeFromSubmit(stepper)"
              fxLayoutAlign="center center">
            <mat-form-field>
                <mat-label>
                    کد
                </mat-label>
                <input matInput
                       formControlName="code"
                       type="number">

                <mat-error>
                    {{validatorCoreService.GetMessage(checkCodeForm.controls.code)}}
                </mat-error>
            </mat-form-field>

            <button mat-raised-button
                    [loading]="isloading"
                    color="primary"
                    fxFlex="1"
                    type="submit">بررسی</button>
            <button mat-raised-button
                    color="warn"
                    matStepperPrevious
                    type="reset">برگشت</button>
        </form>
    </mat-step>
    <mat-step>
        <form [formGroup]="forgetPasswordForm"
              (submit)="onNewPasswordSubmit()"
              fxLayout="column"
              fxLayoutGap="20px"
              fxLayoutAlign="center center">
            <div fxLayout="row">
                <mat-form-field fxFlex.xs="70vw"
                                fxFlex.sm="60vw"
                                fxFlex.md="35vw"
                                fxFlex="20vw">
                    <mat-label>
                        کلمه عبور جدید
                    </mat-label>
                    <input matInput
                           type="password"
                           formControlName="password">
                    <mat-error>{{validatorCoreService.GetMessage(forgetPasswordForm.get('password'))}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex.xs="70vw"
                                fxFlex.sm="60vw"
                                fxFlex.md="35vw"
                                fxFlex="20vw">
                    <mat-label>
                        تکرار کلمه عبور جدید
                    </mat-label>
                    <input matInput
                           type="password"
                           formControlName="confirmPassword"
                           [errorStateMatcher]="matcher">
                    <mat-error>{{validatorCoreService.GetMessage(forgetPasswordForm.get('confirmPassword'))}}
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button
                    color="primary"
                    [disabled]="forgetPasswordForm.invalid"
                    [loading]="isloading"
                    type="submit">به روز رسانی</button>
        </form>
    </mat-step>
</mat-horizontal-stepper>