<div class="text-center">
     <small>برای ثبت نام در بخش مورد نظر بر روی آن کلیک کنید.</small>
</div>
<div fxLayoutAlign="center center"
     fxLayout.lt-md="column"
     fxLayout="row"
     fxLayoutGap="10px">

     <img src="assets/pic/Adoos-210511194743.png"
          routerLink="/Manthra/gata-ha/section/azad">
     <img src="assets/pic/Adoos-210511194828.png"
          routerLink="/Manthra/gata-ha/section/project-based">

  
</div>
<div class="app-back-button-style">
     <app-back-button></app-back-button> 
</div>