<div fxLayout="column wrap"
     fxLayoutAlign="center center"
     class="width-full"
     fxLayoutGap="10px">
    <h2>
        به پنل کاربری کانون دانشجویان زرشتی خوش آمدید.
    </h2>
    <h3>
        برنامه هایی که اکنون ثبت نام دارن.
    </h3>
    <div>
        <button class="pulse"
                routerLink="/Manthra">همایش اوستاخوانی و گاتاشناسی مانتره</button>
        <button class="pulse"
                disabled>سی و نهمین دوره پیکارهای ورزشی جام جان‌باختگان</button>
        <button class="pulse"
                disabled>اردوی دانش‌آموزان زرتشتی سراسر کشور</button>
        <button class="pulse"
                disabled>همایش علمی زرتشتیان سراسر کشور</button>
    </div>
</div>