<div fxLayout="column"
     fxLayoutAlign="center center"
     class="width-full"
     fxLayoutGap="10px">
    <h2 *ngIf="!(profileStatus|async)?.status">کاربر گرامی برای ثبت‌نام در بخش گاتاشناسی مانتره لطفا پروفایل خود را تکمیل کنید.</h2>
    <h2 *ngIf="(profileStatus|async)?.status">.پروفایل شما برای ثبت نام در گاتاشناسی تکمیل است. شما مجاز به نام نویسی در مانتره می باشید</h2>
    <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center">
        <button color="primary" *ngIf="!(profileStatus|async)?.status" routerLink="/Settings" mat-flat-button>مشاهده و تکمیل پروفایل</button>
        <button color="accent" routerLink="/Manthra" mat-flat-button>ثبت نام در گاتا شناسی مانتره</button>
    </div>
</div>