<div fxLayout="column"
     fxLayoutAlign="center center"
     class="home-page-background"
     fxLayoutGap="10px">
        <h2>
                به پنل کاربری کانون دانشجویان زرتشتی خوش آمدید.
        </h2>
        <h3>
                برنامه هایی که اکنون ثبت نام دارند.
        </h3>
        <div fxLayoutAlign="center"
             fxLayout="row wrap"
             fxLayout.lt-sm="column wrap">
                <button class="pulse"
                        routerLink="/jam">پیکارهای ورزشی جام جان‌باختگان</button>
                <button class="pulse"
                        routerLink="/ordoo">اردو دانش‌آموزان زرتشتی سراسر کشور</button>
                <button class="pulse"
                        disabled>همایش علمی زرتشتیان</button>
                <button class="pulse"
                        disabled>جشنواره موسیقی زرتشتیان</button>
                <button class="pulse"
                        disabled
                        routerLink="/Manthra">همایش اوستاخوانی و گاتاشناسی مانتره</button>
        </div>
</div>