<mat-accordion class="gap-2">
   <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            بدمینتون
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <a mat-flat-button
            routerLink="4/1"
            color="primary">انفرادی</a>
         <a mat-flat-button
            routerLink="double/4/4"
            color="accent">دوبل میکس</a>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            تنیس روی میز
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 routerLink="5/1"
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 routerLink="double/5/2"
                 *ngIf="gender==1"
                 color="accent">دوبل</button>
         <button mat-flat-button
                 routerLink="double/5/4"
                 color="accent">دوبل میکس</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            شطرنج
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 routerLink="6/1"
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 routerLink="double/6/2"
                 color="accent">دوبل</button>
         <button mat-flat-button
                 routerLink="6/9"
                 color="accent">مطرنج</button>
         <button mat-flat-button
                 routerLink="6/5"
                 color="accent">بلیتس</button>
      </div>
   </mat-expansion-panel>-->
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            شنا
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 routerLink="7/11"
                 color="primary">کرال سینه</button>
         <button mat-flat-button
                 routerLink="7/12"
                 *ngIf="ageRange==3"
                 color="accent">قورباغه</button>
         <button mat-flat-button
                 routerLink="7/14"
                 *ngIf="ageRange==3 &&gender==0"
                 color="accent">کرال پشت</button>
         <button mat-flat-button
                 *ngIf="ageRange!=3"
                 routerLink="7/13"
                 color="accent">مختلط</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            دو میدانی
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 routerLink="9/6"
                 color="primary">سرعت</button>
         <button mat-flat-button
                 *ngIf="gender==1"
                 routerLink="9/8"
                 color="accent">استقامت</button>
         <button mat-flat-button
                 routerLink="9/10"
                 *ngIf="gender==0"
                 color="accent">نیمه استقامت</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            دوچرخه سواری
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 routerLink="8/8"
                 color="primary">استقامت</button>
         <button mat-flat-button
                 routerLink="8/6"
                 color="accent">تایم تریل سرعت</button>
      </div>
   </mat-expansion-panel>
</mat-accordion>

<a mat-button
   routerLink="sport-insurence"> بیمه ورزشی</a>