<form [formGroup]="zForm"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="1rem"
      (submit)="onSubmit()">
  <div fxLayout="column"
       fxLayoutGap="1rem">
    <label>شما کارت زرتشتی گری دارید؟</label>
    <mat-radio-group formControlName="hasCard"
                     (change)="onChangeOwner()"
                     fxLayout="column"
                     fxLayoutGap="1rem"
                     aria-label="شما کارت زرتشتی گری دارید؟">
      <mat-radio-button value="1">خودم کارت دارم</mat-radio-button>
      <mat-radio-button value="0">خودم کارت ندارم</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="zForm.value.hasCard==1">
    <app-image-uploader fileType="2"
                        accept="image/jpeg"
                        formControlName="ownerCard"
                        eventType="0">کارت زرتشتی گری شما</app-image-uploader>
  </div>
  <div *ngIf="zForm.value.hasCard==0"
       fxLayout="column"
       fxLayoutGap="1rem">
    <app-image-uploader fileType="2"
                        accept="image/jpeg"
                        formControlName="motherCard"
                        eventType="0">کارت زرتشتی گری مادر</app-image-uploader>
    <app-image-uploader fileType="2"
                        accept="image/jpeg"
                        formControlName="fatherCard"
                        eventType="0">کارت زرتشتی گری پدر</app-image-uploader>
  </div>
  <button mat-flat-button
          color="accent"
          [loading]="isLoading"
          class="button-style"> ثبت اطلاعات</button>
  <app-back-button class="button-style"></app-back-button>
</form>