<div class="grid gap-3 grid-cols-3">
    <div>
        <span>افراد: </span>
        <span [innerText]="team.name"></span>
    </div>
    <div>
        <span>رده: </span>
        <span [innerText]="team.ageRangeName"></span>
    </div>
    <div>
        <span>ورزش: </span>
        <span [innerText]="team.fieldName+'-'+team.subFieldName"></span>
    </div>


    <ng-container *ngFor="let player of team.players">
        <div>
            <span>نام: </span>
            <span [innerText]="player.profile.name+' '+player.profile.family"></span>
        </div>
        <div>
            <span>کد ملی: </span>
            <span [innerText]="player.nationalCode"></span>
        </div>
        <div>
            <span>جنسیت: </span>
            <span [innerText]="player.profile.sex"></span>
        </div>

        <div>
            <span>ورزش: </span>
            <span [innerText]="player.fieldName+'-'+player.subFieldName"></span>
        </div>

        <div>
            <span>رده: </span>
            <span [innerText]="player.ageRangeName"></span>
        </div>

        <div>
            <span>شهر: </span>
            <span [innerText]="player.profile.city"></span>
        </div>

        <div>
            <span>شماره منزل: </span>
            <span [innerText]="player.profile.phone"></span>
        </div>

        <div>
            <span>آدرس: </span>
            <span [innerText]="player.profile.address"></span>
        </div>

        <div>
            <span>تاریخ تولد: </span>
            <span [innerText]="player.profile.birthday"></span>
        </div>

        <div>
            <span>شماره تلفن همراه: </span>
            <span [innerText]="player.mobile"></span>
        </div>

        <div>
            <span>عکس: </span>
            <jam-image-viewer [imageId]="player.profile.personalPhoto"
                              [family]="player.profile.family"
                              [nationalCode]="player.nationalCode"
                              [name]="player.profile.name"></jam-image-viewer>
        </div>
        <div>
            <span>شناسنامه: </span>
            <jam-image-viewer [imageId]="player.profile.IdCardPhoto"
                              [family]="player.profile.family"
                              [nationalCode]="player.nationalCode"
                              [name]="player.profile.name"></jam-image-viewer>
        </div>

    </ng-container>


</div>
<div class="grid grid-cols-3 gap-3">
    <button mat-raised-button
            [disabled]="isVerify"
            (click)="onVerify()"
            color="primary">تایید ثبت نام</button>
    <button mat-raised-button
            color="warn"
            disabled="true"> حذف</button>
    <app-back-button></app-back-button>
</div>