.example-card {
  max-width: 200px;
}

mat-card {
  margin-bottom: 30px;
}

.parent {
  margin-top: 40px;
}
mat-divider{
  margin-top: 10px;
}

.full-height-image {
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  transition: transform 0.3s ease; 
}

.full-height-image:hover {
  transform: scale(1.1); 
}
.image-container {
  display: flex;
  justify-content: center; /* Horizontally center the image */
}

mat-card-title:hover {
 color: rgb(105, 102, 102);
}