<div class="flex flex-wrap justify-center -mx-4">
  <mat-card *ngFor="let news of (newsList2|async)?.posts" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 px-4 mb-4">
    <mat-card-header>
      <mat-card-title [innerText]="news.title"></mat-card-title>
      <mat-card-subtitle >
        <span [innerText]="news.date" dir="ltr"></span>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
      <img class="hover:scale-125" *ngIf="news.thumbnail_images" [src]="news.thumbnail_images?.full.url" alt="picture">
    </div>  
    <mat-card-content [innerHTML]="news.excerpt">
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <a mat-button [href]="news.url" target="_blank">ادامه</a>
      <button mat-icon-button (click)="share(news.title, news.url)" *ngIf="isWebShareSupported"><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>