<div fxLayout="column"
     [fxHide]="isLoading"
     fxLayoutAlign.lt-sm="start"
     fxLayoutAlign="center center"
     class="home-page-background"
     fxLayoutGap="10px">
        <h2 *ngIf="!(profileStatus|async)?.status">کاربر گرامی برای ثبت‌نام در مانتره لطفا پروفایل خود را
                تکمیل کنید.</h2>
        <h2 *ngIf="(profileStatus|async)?.status">پروفایل شما برای ثبت نام در مانتره تکمیل است. شما مجاز به نام نویسی در
                مانتره می باشید.</h2>
        <div fxLayoutGap="10px"
             fxLayout="column"
             fxLayoutAlign="center center">

                <div fxLayoutAlign="center"
                     fxLayout="row wrap"
                     fxLayout.lt-sm="column wrap">
                        <!-- <button class="pulse"
                                [disabled]="avestaAgeRange==4"
                                routerLink="/Manthra/gata-ha">ثبت نام در گاتاشناسی</button> -->
                        <button class="pulse"
                                [disabled]="avestaAgeRange==4"
                                routerLink="/Manthra/avesta-khani">ثبت نام در اوستاخوانی</button>
                        <button class="pulse"
                                [disabled]="avestaAgeRange!=4"
                                routerLink="/Manthra/mantrak">ثبت نام در مانترک</button>
                </div>
                <div fxLayoutAlign="center center">
                        <button class="pulse"
                                routerLink="/Settings/zoroastrianCard">تکمیل کارت زرتشتی گری</button>
                        <button class="pulse"
                                *ngIf="registerFiled!=null"
                                (click)="onSeeRegisters()">مشاهده بخش های ثبت شده</button>
                </div>
        </div>
        <h3 class="mt-3 text-warn">
                در صورتی که پس از نام‌نویسی از طرف کانون دانشجویان زرتشتی پیامک دریافت کنید، نام‌نویسی با موفقیت ثبت شده
                است، در
                غیر این صورت نام‌نویسی موفق نبوده است.
        </h3>

</div>