<button mat-icon-button (click)="onDownloadExport()"> <mat-icon>download_for_offline</mat-icon></button>
<table mat-table
       matSort
       [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> نام </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.name+' '+element.profile.family}} </td>
    </ng-container>

    <ng-container matColumnDef="nationalCode">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> کد ملی </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.nationalCode}} </td>
    </ng-container>
   <ng-container matColumnDef="ageRangeName">
        <th mat-header-cell
            *matHeaderCellDef> گروه سنی </th>
        <td mat-cell
            *matCellDef="let element"> {{element.ageRangeName}} </td>
    </ng-container>
    <ng-container matColumnDef="fieldName">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> رشته </th>
        <td mat-cell
            *matCellDef="let element"> {{element.fields}} </td>
    </ng-container>
<!--    <ng-container matColumnDef="sex">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> جنسیت </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.sex}} </td>
    </ng-container>-->
    <ng-container matColumnDef="city">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> شهر </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.city}} </td>
    </ng-container> 

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns">

    </tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>