<mat-toolbar color="primary">
    <button mat-icon-button
            *ngIf="!mobileQuery.matches"
            (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span [innerText]="name"></span>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #snav
                 [opened]="!mobileQuery.matches"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 fixedTopGap="56"
                 [fixedInViewport]="mobileQuery.matches">
        <app-navigation-list></app-navigation-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>
<app-navigation-bar *ngIf="mobileQuery.matches"></app-navigation-bar>