<form [formGroup]="azadForm"
      fxLayout="column"
      (submit)="onSubmit()"
      fxLayoutAlign="center center"
      fxLayoutGap="10px">

    <mat-form-field>
        <mat-label>
            کد ملی یار
        </mat-label>
        <input matInput
               formControlName="iiarNationalCodeAsli0"
               (blur)="onblurInput(azadForm.controls.iiarNationalCodeAsli0)"
               type="tel">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            کد ملی یار
        </mat-label>
        <input matInput
               formControlName="iiarNationalCodeAsli1"
               (blur)="onblurInput(azadForm.controls.iiarNationalCodeAsli1)"
               type="tel">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            کد ملی یار
        </mat-label>
        <input matInput
               formControlName="iiarNationalCodeAsli2"
               (blur)="onblurInput(azadForm.controls.iiarNationalCodeAsli2)"
               type="tel">
    </mat-form-field>
    <span class="text-center">
        کانون دانشجویان زرتشتی بر آن است تا در کنار بیست و نهمین همایش اوستا خوانی و گاتاشناسی مانتره برای شرکت کنندگان
        اردویی تفریحی-آموزشی برگزار نماید
    </span>
    <mat-checkbox formControlName="isLikeAttend">تمایل دارم به صورت حضوری در این اردوهمایش شرکت کنم؟</mat-checkbox>
    <mat-checkbox formControlName="isOrdooHamayesh">
        در این اردوهمایش شرکت می‌کنم
    </mat-checkbox>
    <div *ngIf="azadForm.value.isOrdooHamayesh&&ageRange==3">
        <span>تمایل دارید تا در این اردوهمایش چه مباحثی آموزش داده شود؟</span>
        <div>
            <mat-checkbox formControlName="resumeWriting">رزومه‌‌‌نویسی
            </mat-checkbox>
        </div>

        <div>
            <mat-checkbox formControlName="emotionalIntelligenceWorkshop">کارگاه هوش هیجانی
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="linkedin">نحوه کار با Linkedin
            </mat-checkbox>
        </div>

        <div>
            <mat-checkbox formControlName="ravanShenasi">خودشناسی
            </mat-checkbox>
        </div>
        <div>

            <mat-checkbox formControlName="technologyWorkshop">کارگاه تکنولوژی
            </mat-checkbox>
        </div>
    </div>
    <div *ngIf="azadForm.value.isOrdooHamayesh&&ageRange==1">
        <span>تمایل دارید تا در این اردوهمایش چه مباحثی آموزش داده شود؟</span>
        <div>
            <mat-checkbox formControlName="contentProduction">تولید محتوا
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="principlesOfPhotography">اصول عکاسی
            </mat-checkbox>
        </div>
        <div>

            <mat-checkbox formControlName="bodyLanguage">زبان بدن
            </mat-checkbox>
        </div>
        <div>

            <mat-checkbox formControlName="mindControlWorkshop">
                کارگاه تسلط بر ذهن
            </mat-checkbox>
        </div>
    </div>

    <mat-form-field *ngIf="azadForm.value.isOrdooHamayesh">
        <mat-label>سایر</mat-label>
        <textarea matInput
                  formControlName="other"></textarea>
    </mat-form-field>

    <button color="primary"
            mat-flat-button
            class="button-style"> ثبت اطلاعات</button>
    <app-back-button class="button-style"></app-back-button>
</form>