<div class="flex flex-col">

        <h3>
                برنامه های کانون دانشجویان زرتشتی
        </h3>
        <div class="flex flex-wrap flex-col justify-stretch">
                <button class="pulse"
                        routerLink="/jam">پیکارهای ورزشی جام جان‌باختگان</button>
                <button class="pulse"
                        routerLink="startup-weekend">استارتاپ ویکند</button>
                <button class="pulse"
                        routerLink="/ordoo">اردو دانش‌آموزان زرتشتی سراسر کشور</button>
                <button class="pulse"
                        disabled>همایش علمی زرتشتیان</button>
                <button class="pulse"
                        disabled>جشنواره موسیقی زرتشتیان</button>
                <button class="pulse"
                        disabled
                        routerLink="/Manthra">همایش اوستاخوانی و گاتاشناسی مانتره</button>
        </div>
</div>