<mat-card>
    <mat-card-title>
        {{sportName}} {{subFieldName}}
    </mat-card-title>
    <div *ngIf="!isRegistered.isRegistered;else elseBlock">
        <p>در حال حاظر شما در حال ثبتنام در {{sportName}} {{subFieldName}} هستید.</p>
        <button mat-raised-button
                color="accent"
                class="w-full"
                (click)="onWantRegister()">ثبت نام</button>
    </div>
    <ng-template #elseBlock>
        <p>
            شما در {{sportName}} {{subFieldName}} ثبت نام کرده اید.
        </p>
        <button mat-raised-button
                class="w-full"
                (click)="onWantDelete()"
                color="warn">حذف ثبت نام</button>
    </ng-template>
    <mat-card-actions>
        <app-back-button></app-back-button>
    </mat-card-actions>
</mat-card>