<p>در حال حاظر شما در حال ثبتنام در {{sportName}} {{subFieldName}} هستید.</p>
<form [formGroup]="fGroup"
      (submit)="onSubmited()">
        <div class="flex flex-col md:max-w-xs"
             formArrayName="individuals">
                <ng-container *ngFor="let member of fGroup.controls.individuals.controls; let i=index">
                        <app-profile-check-input [formControlName]="i"
                                                 [profileMode]="profileMode.needed">یار
                                {{i+1}}</app-profile-check-input>
                </ng-container>
        </div>
        <button type="submit"
                [disabled]="fGroup.invalid"
                mat-button>ثبت</button>
        <app-back-button></app-back-button>
</form>