<p>در حال حاظر شما در حال ثبتنام در {{sportName}} {{subFieldName}} هستید.</p>
<form [formGroup]="fGroup"
      (submit)="onSubmited()">
        <div class="flex flex-col md:max-w-xs"
             formArrayName="individuals">
                <ng-container *ngFor="let member of fGroup.controls.individuals.controls; let i=index">
                        <mat-form-field>
                                <mat-label>
                                        یار {{i+1}}
                                </mat-label>
                                <input [formControlName]="i"
                                       matInput>
                                <div matSuffix>
                                        <button color="accent"
                                                matSuffix
                                                type="button"
                                                (click)="onSearchProfile(i)"
                                                [disabled]="fGroup.controls.individuals.at(i).invalid"
                                                mat-icon-button>
                                                <mat-icon>search</mat-icon></button>
                                        <mat-icon matSuffix
                                                  *ngIf="profiles[i]?.isCompleted">check</mat-icon>
                                        <mat-icon matSuffix
                                                  *ngIf="!profiles[i]?.isCompleted">error</mat-icon>
                                </div>
                        </mat-form-field>
                        <button mat-icon-button
                                *ngIf="profiles[i]?.editable"><mat-icon>edit</mat-icon></button>
                                
                        <span [innerText]="profiles[i]?.profile?.name"></span>
                        <span [innerText]="profiles[i]?.profile?.family"></span>
                </ng-container>
        </div>
        <button type="submit"
                mat-button>ثبت</button>
        <app-back-button></app-back-button>
</form>