<!-- <ng-container *ngIf="timer$ |async as timer">

    <div class="clock">
        <div class="time">
            <span class="hours">{{timer[0].value}}</span>
            <span class="hours">{{timer[1].value}}</span>
            <span>:</span>
            <span class="min">{{timer[2].value}}</span>
            <span class="min">{{timer[3].value}}</span>
            <span>:</span>
            <span class="sec">{{timer[4].value}}</span>
            <span class="sec">{{timer[5].value}}</span>
        </div>
    </div>
    <pre>
        <p style="margin-top:120px">
    {{timer|json}}
    </p>
    </pre>
</ng-container> -->