@media (max-width:959px) {
    mat-form-field {
        width: 300px;
    }

    button {
        width: 300px;
    }

    app-back-button{
        width: 300px;
    }
    app-image-uploader{
        width: 300px;
    }
}

