<form fxLayout="column"
      [formGroup]="profileForm"
      [largeLoading]="loading"
      (submit)="onSubmit()"
      fxLayoutAlign.lt-sm="center center"
      fxLayoutGap="20px">
    <mat-form-field>
        <mat-label>نام</mat-label>
        <input formControlName="name"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>نام خانوادگی</mat-label>
        <input formControlName="lastName"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>نام پدر</mat-label>
        <input formControlName="fatherName"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>کد پستی</mat-label>
        <input type="tel"
               formControlName="postalCode"
               matInput>
        <mat-error>
            {{
            validatorCoreService.GetMessage(profileForm.controls.postalCode)
            }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>شماره تلفن منزل</mat-label>
        <input type="tel"
               formControlName="phone"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>آدرس</mat-label>
        <textarea formControlName="address"
                  matInput></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>تاریخ تولد</mat-label>
        <input [matDatepicker]="picker"
               formControlName="birthday"
               [disabled]
               matInput>
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false"
                        #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>شهر</mat-label>
        <mat-select formControlName="city">
            <mat-option *ngFor="let op of cites"
                        [value]="op.value">
                {{op.label}}
            </mat-option>
        </mat-select>
        <mat-hint align="start">شهر محل زندگی</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>جنسیت</mat-label>
        <mat-select formControlName="sex">
            <mat-option *ngFor="let op of sexTypes"
                        [value]="op.value">
                {{op.lable}}
            </mat-option>
        </mat-select>
        <!-- <mat-hint align="start"></mat-hint> -->
    </mat-form-field>
    <app-image-uploader fileType="0"
                        eventType="-1"
                        accept="image/jpeg"
                        formControlName="personalPhoto"> عکس پرسنلی</app-image-uploader>
    <app-image-uploader fileType="1"
                        eventType="-1"
                        accept="image/jpeg"
                        formControlName="IdCardPhoto"> عکس شناسنامه</app-image-uploader>
    <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="profileForm.invalid">ثبت پروفایل</button>

    <button mat-raised-button
       routerLink="./logout"
       color="warn">خروج</button>


    <app-back-button></app-back-button>
</form>