<form [formGroup]="loginForm"
      fxLayout="column"
      fxLayoutAlign="center center">
    <mat-form-field>
        <mat-label>کد ملی</mat-label>
        <input type="tel"
               formControlName="nationalCode"
               matInput>
        <mat-error>
            {{validatorCoreService.GetMessage(loginForm.get('nationalCode'))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password"
               matInput
               formControlName="password"
               placeholder="کلمه عبور">
        <mat-error>{{validatorCoreService.GetMessage(loginForm.get('password'))}}
        </mat-error>
    </mat-form-field>
    <re-captcha size="invisible"
                #captchaRef="reCaptcha"
                (resolved)="onSubmit()"
                formControlName="captcha"></re-captcha>
    <div fxLayout="column"
         fxLayoutGap="20px">
        <button mat-raised-button
                [loading]="isLoading"
                color="primary"
                (click)="captchaRef.execute()"
                [disabled]="loginForm.invalid"
                type="button">
            ورود
        </button>
        <button mat-raised-button
                [loading]="isLoading"
                routerLink="forget">
            فراموشی رمز عبور
        </button>
    </div>
</form>