<form [formGroup]="loginForm"
      (submit)="onSubmit()"
      fxLayout="column"
      fxLayoutAlign="center center">
    <mat-form-field>
        <mat-label>شماره موبایل</mat-label>
        <input type="tel"
               formControlName="phoneNumber"
               matInput>
        <mat-error>
            {{validatorCoreService.GetMessage(loginForm.get('phoneNumber'))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password"
               matInput
               formControlName="password"
               placeholder="کلمه عبور">
        <mat-error>{{validatorCoreService.GetMessage(loginForm.get('password'))}}
        </mat-error>
    </mat-form-field>
    <ng-hcaptcha formControlName="captcha"
                 [theme]="'dark'"></ng-hcaptcha>
    <div fxLayout="column"
         fxLayoutGap="20px">
        <button mat-raised-button
                [loading]="isLoading"
                color="primary"
                type="submit">
            ورود
        </button>
        <button mat-raised-button
                [disabled]="isLoading"
                routerLink="forget">
            فراموشی رمز عبور
        </button>
    </div>
</form>