<div class="flex flex-col gap-1 justify-center text-center">
    <div>
        <mat-icon svgIcon="Startup-weekend"></mat-icon>
    </div>
    <p class="text-justify">
        استارتاپ ویکند یک رویداد جذاب و پر انرژی است که در آن افراد با ایده‌های نوین و خلاقانه در یک چالش ۵۴ ساعته شرکت
        می‌کنند. در این رویداد، شرکت‌کنندگان ایده‌های خود را به دیگران معرفی می‌کنند، تیم‌هایی را تشکیل می‌دهند و در طول
        آخر هفته به توسعه و ارائه محصولات خود می‌پردازند. استارتاپ ویکند فرصتی مناسب برای یادگیری، شبکه‌سازی، تجربه‌کسب
        و سرگرمی است. شما می‌توانید با افراد با استعداد و انگیزه بالا همکاری کنید، از مربیان و منتوران حرفه‌ای کمک
        بگیرید، با قضات و سرمایه‌گذاران ارتباط برقرار کنید و شاید حتی یک شرکت موفق را راه‌اندازی کنید. استارتاپ ویکند
        برای همه باز است، چه دانشجو باشید، چه کارمند، چه برنامه‌نویس، چه طراح، چه بازاریاب و چه ... فقط کافی است علاقه و
        اشتیاق داشته باشید. پس از این فرصت استثنایی غافل نشوید و در دوره بعدی این رویداد شرکت نمایید.
    </p>
    <div> <button mat-flat-button
                disabled>ثبت نام</button></div>
</div>