<div  fxLayout="column" fxLayoutGap="20px">
    <h3>تایید آیین نامه</h3>
    <div class="mt-5"
     fxLayout="column"
     #ayiine
     (scroll)="onScroll($event)"
     fxLayoutAlign="center center"
     fxLayoutGap="15px">
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
    <p>dfsdf</p>
</div>
<button mat-button  [disabled]="!isReadAll" routerLink="up" class="float-left" > تایید آیین نامه</button>
</div>