<div fxLayout="column"
     fxLayoutGap="20px">
    <h3>تایید آیین نامه</h3>
    <div class="mt-5 pt-2"
         (scroll)="onScroll($event)">
        &nbsp;
        <p style="text-align: center;">فراخوان بخش مانترک</p>
        <p style="text-align: center;">بیست­ و هشتمین همـایش اوستاخوانی و گاتاشناسی مانتره</p>
        <p style="text-align: center;">(دومین  دوره  مجازی)</p>
        &nbsp;

        <strong>کانون دانشجویان زرتشتی</strong> برآن است تا امسال بیست و هشتمین همایش اوستاخوانی و گاتاشناسی مانتره را
        در شهریور ماه 1400 با آرمان گسترش پیام اشوزرتشت، هم‌‌­اندیشی کلام‌­های اندیشه­‌برانگیز گاهانی و گسترش نوای
        دلنشین گاهان در میان هازمان زرتشتی برگزار کند.

        همچون سالیان گذشته، کانون دانشجویان زرتشتی جهت برگزاری هرچه بهتر و هدفمندتر همایش مانتره، برای پنجمین بار
        <strong>بخش مانترک (ویژه شرکت‌کنندگان ۱۰ تا ۱۳ سال)</strong> را با اهداف زیر در بیست و هشتمین همایش اوستاخوانی و
        گاتاشناسی مانتره برگزار می‌نماید:
        <ul>
            <li>آشنایی و علاقه­‌مند ساختن دانش‌­آموزان زرتشتی برای شرکت در همایش­ مانتره</li>
            <li>ارتقای سطح درک و انتقال مفاهیم در دانش­‌آموزان</li>
            <li>افزایش سطح آگاهی و مشارکت خانواده­‌ها در آموزش و پرورش فرزندانشان</li>
            <li>کمک به شکوفایی و تقویت مهارت­‌های پژوهشی، دینی و فکری دانش آموزان زرتشتی</li>
            <li>برانگیختن توجه و علاقه دانش­‌آموزان برای پژوهش در گاهان و ایجاد انگیزه بیشتر در آنان برای فهم عمیق
                مفاهیم گاهانی</li>
            <li>آموزش ارتباطات مجازی، مشارکت گروهی و در ارتباط بودن دانش‌آموزان زرتشتی با یکدیگر</li>
        </ul>
        &nbsp;

        <strong>شرایط ثبت‌نام:</strong>

        متقاضیان ثبت‌نام در بخش مانترک بیست و هشتمین همایش اوستاخوانی و گاتاشناسی مانتره می‌بایست دارای شرایط زیر باشند:
        <ul>
            <li>دانش ­آموز زرتشتی باشد.</li>
            <li>در رده سنی 10 تا 13 سال (متولدین از 1 مهرماه 1387 تا 31 شهریورماه 1390­) قرار داشته باشد.</li>
        </ul>
        <strong>مراحل ثبت‌نام : </strong>

        نام­‌نویسی اولیه متقاضیان شرکت در بخش مانترک بیست و هشتمین همایش اوستاخوانی و گاتاشناسی مانتره در روزهای 8 تا 14
        خرداد‌ماه از طریق تارنمای <a href="http://www.portal.kdz.ir"><strong>www.portal.kdz.ir</strong></a> انجام
        می­پذیرد.
        <ul>
            <li><strong>نکته 1:</strong> کانون دانشجویان زرتشتی هر ساله در پی برگزاری هر چه بهتر و هدفمندتر همایش
                اوستاخوانی و گاتاشناسی مانتره است. در همین راستا، طی صحبت­‌ها و جلسات متعددی که با کارشناسان و افراد
                صاحب نظر در زمینه کودک و نوجوان انجام شد و با بهره‌گیری از تجربیات سالیان گذشته، این رده سنی مورد بررسی
                قرار گرفت و بخش مانترک با هدف راهنمایی، هدایت، پرورش و آموزش صحیح رده سنی 10 تا 13 سال برگزار می­‌شود.
                شرکت در بخش اوستاخوانی که رقابت، اضطراب و کاهش اعتماد­به­‌نفس را برای این رده سنی به دنبال دارد، توصیه
                نمی­‌شود. هرچند کانون دانشجویان زرتشتی مانع حضور عزیزان این رده سنی در بخش اوستاخوانی نمی‌گردد و انتخاب
                را بر عهده شخص و والدین او قرار می­‌دهد.</li>
            <li><strong>نکته 2:</strong> یادآور می‌شویم، برای تمامی شرکت‌کنندگان رده سنی ۱۰ تا ۱۳ سال (متولدین از ۱
                مهرماه 1387 تا ۳۱ شهریورماه 1390) شرط لازم جهت حضور در بیست و هشتمین همایش اوستاخوانی و گاتاشناسی
                مانتره، <u>پذیرفته­‌شدن در بخش مانترک</u> است. (در صورتی‌که در بخش مانترک پذیرفته نشده باشند، امکان حضور
                در مانتره را نخواهند یافت.)</li>
        </ul>
        متقاضیان می­‌توانند، جهت کسب اطمینان پس از نام‌­نویسی، با وارد کردن کدملی خود در تارنمای ذكر شده از وضعیت
        ثبت‌نام خود آگاه شوند.

        شرکت‌کنندگانی که نام‌­نویسی اولیه آن‌ها در بخش مانترک، <u>درست، کامل و با موفقیت</u> انجام گرفته باشد، توسط
        کانون دانشجویان زرتشتی از مراحل بعدی، که شامل شرکت در کلاس‌های مجازی از خردادماه می‌باشد، مطلع خواهند شد. شایان
        یادآوری است، که حضور و عملکرد در این جلسات مبنای سنجش خواهد بود.

        پس از تکمیل نام­‌نویسی، جلسه‌ای با والدین متقاضیان شرکت در مانترک برگزار خواهد شد تا ایشان در جریان
        <strong>اهداف عملیاتی </strong>بخش مانترک و <strong>نحوه‌ی برگزاری کلاس‌ها</strong> قرار بگیرند. تاریخ دقیق
        برگزاری این جلسه، متعاقباً از سوی کانون دانشجویان زرتشتی به ثبت­‌نام­‌شدگان اعلام خواهد شد. شایان ذکر است،
        همان‌گونه که پیش­تر بر <strong>افزایش مشارکت خانواده­‌ها</strong> به عنوان یکی از اهداف بخش مانترک تاکید شد، در
        این راستا حضور دست­‌کم یکی از والدین در جلسه مذکور، <strong>تاثیر قابل توجهی</strong> بر سهولت شرکت فرزند ایشان
        در مانتره خواهد داشت.

        سپس، کانون دانشجویان زرتشتی کلاس‌ها و کارگاه‌هایی به صورت مجازی به منظور انجام کار گروهی، افزایش حس همکاری،
        مشارکت و آشنایی با مهارت‌های پژوهشی را در ماه‌های خرداد تا شهریور فراهم می‌آورد.
        <ul>
            <li><strong>نکته 3:</strong> نحوه گزینش بر اساس حضور و غیاب در کلاس­‌های خرداد تا شهریورماه بوده و
                شرکت‌­کنندگانی که بیش از 3 جلسه در کلاس‌ها حاضر نباشند، از روند گزینشی مانترک حذف خواهند گردید. همچنین
                شرکت‌کنندگان موظفند در کلاس‌ها حضور فعال داشته باشند تا در صورت تأیید آموزگار کلاس، به مرحله پایانی راه
                یابند.</li>
        </ul>
        <strong>حضور افراد در کلاس‌ها و کارگاه‌ها جهت پذیرفته شدن در بخش مانترک الزامی می‌باشد</strong>.

        گفتنی است، شرکت­‌کنندگان پذیرفته شده بخش مانترک، در روزهای برگزاری همایش مانتره در شهریورماه، می­‌توانند در اردو
        همایش بیست و هشتمین همایش اوستاخوانی و گاتاشناسی مانتره، به صورت مجازی شرکت نمایند.

        نام‌نویسی در بخش مانترک نیز همزمان با ثبت‌نام بخش اوستاخوانی در تاریخ <strong>8 تا 14 خردادماه 1400،</strong> از
        طریق تارنمای رسمی کانون دانشجویان زرتشتی انجام می­‌پذیرد و شرکت‌کنندگان این رده سنی می‌توانند در پایان ثبت‌نام
        خود در بخش مانترک، در صورت تمایل در رده­‌های بخش اوستاخوانی نیز نام‌نویسی نمایند.

        یادآوری می‌گردد نام­‌نویسی در بیست و هشتمین همایش مانتره تنها به گونه‌ی الکترونیکی و از طریق تارنمای
        <strong>www.portal.kdz.i</strong>r صورت می­‌پذیرد.

        شرکت‌کنندگان می­‌توانند در صورت بروز هرگونه مشکلی در هنگام ثبت‌نام، از ساعت 17 الی 21 در روزهای ثبت­‌نام با
        آی‌دی تلگرام کانون ­دانشجویان زرتشتی <strong>kdz_id ­</strong><strong>@ </strong>در ارتباط باشند.

        شایان یادآوری است، در کنار این فراخوان، فراخوان‌های دیگری برای بخش‌های اوستاخوانی و گاتاشناسی و آيين‌نامه
        بخش‌هاي اوستاخواني و گاتاشناسي همايش سراسري مانتره نیز فراهم آمده‌­است، که از راه تارنمای رسمی کانون دانشجویان
        زرتشتی در دسترس است.

        <strong>کانون دانشجویان زرتشتی</strong>

        &nbsp;
    </div>
    <button mat-flat-button
            color="primary"
            [disabled]="!isReadAll && !isTimerEnded"
            routerLink="personal-information"
            class="float-left">
        تایید آیین نامه
    </button>
</div>