<div fxLayout="column"
     fxLayoutGap="20px">
  <div class="mt-5 pt-2">
    <p class="western"
       dir="rtl"
       align="center"><span style="font-family: Vazir FD;"><span lang="ar-SA"><span
                style="font-family: Vazir FD 1 **;"><span style="font-size: xx-large;"><span lang="fa-IR">فراخوان بخش
                مانترک</span></span></span></span></span></p>
    <p class="western"
       dir="rtl"
       align="center"><span style="font-family: Vazir FD;"><span lang="ar-SA"><span
                style="font-family: Vazir FD 1 **;"><span style="font-size: xx-large;"><span
                    lang="fa-IR">بیست</span></span></span></span></span><span style="font-size: xx-large;">­
      </span><span style="font-family: Vazir FD;"><span lang="ar-SA"><span style="font-family: Vazir FD 1 **;"><span
                  style="font-size: xx-large;"><span lang="fa-IR">و
                نهمین همـایش اوستاخوانی و گاتاشناسی مانتره</span></span></span></span></span></p>
                <p
                dir="rtl"
                align="center">
                <a target="_blank" href="assets/PDFs/mantrak.pdf" class="pdfDownloadStyle"> دانلود فراخوان بخش مانترک</a>
              </p> 
    </div>
    <button mat-flat-button
            color="primary"
            [disabled]="!isReadAll && !isTimerEnded"
            routerLink="personal-information"
            class="float-left">
        تایید آیین نامه
    </button>
    <app-back-button></app-back-button>
</div>