<div fxLayout="column"
     fxLayoutGap="20px">
    <h3>تایید آیین نامه</h3>
    <div class="mt-5 pt-2"
         (scroll)="onScroll($event)">
        <p align="center"><span> آیین</span>&shy;<span> نامه بخش اوستاخوانی </span></p>
        <p align="center"><span>بیست</span>&shy; <span>و هشتمین همـایش اوستاخوانی و گاتاشناسی مانتره</span></p>
        <p align="center">(<span>دومین دوره مجازی</span>)</p>
        <p><span><strong>ک</strong><strong>انون دانشجویان زرتشتی</strong> برآن است تا امسال،<span> بیست و هشتمین
                </span>همایش اوستاخوانی و گاتاشناسی مانتره را <span>در
                    شهریور</span>ماه </span>1400<span>برگزار کند</span>. <span>برآنیم تا
                رده</span>&shy;<span>های بخش اوستاخوانی مانتره را با آرمان گسترش<span> پیام
                    اشوزرتشت، </span>هم&zwnj;اندیشی <span>کلام&zwnj;های اندیشه</span></span>&shy;<span><span>برانگیز
                    گاهانی و گسترش نوای دلنشین گاتا در میان هازمان زرتشتی برگزار
                    کنیم</span></span>.</p>
        <p><span><span><strong>شرایط شرکت در رده&zwnj;های بخش
                        اوستاخوانی</strong></span></span><strong>:</strong></p>
        <p><span><span><strong>رده از برخوانی زیر </strong></span></span><strong>10
            </strong><span><span><strong>سال</strong></span></span><strong>:</strong></p>
        <p><span><span>برای تشویق </span><span>نونهالان زیر
                </span></span>10 <span><span>سال </span></span>(<span><span>متولدین از </span></span>1 <span><span>مهر
                </span></span>1390 <span><span>به بعد</span></span>)<span><span>، آن</span></span>&shy;<span><span>ها
                    می&zwnj;توانند با
                    نام</span></span>&shy;<span><span>نویسی در این رده در همایش اوستاخوانی و
                    گاتاشناسی مانتره شرکت کنند</span></span>. <span><span>در این بخش،
                    شرکت&zwnj;کنندگان می&zwnj;توانند بندهایی از اهنودگات را به دلخواه از بر کرده و
                    بخوانند</span></span>.</p>
        <p><span><span><strong>رده&zwnj; اهنودگات</strong></span></span><strong>:
            </strong></p>
        <p><span><span>شرایط آزمون شامل درست&zwnj;خوانی اهنودگات و بخش&zwnj;هایی از
                    اوستای بایسته از روی دین&zwnj;دبیره، </span></span></p>
        <p><span><span>همراه &zwnj;با آوای </span>خوش است و شرکت در این رده برای همه
                رده&zwnj;های سنی آزاد است، به جز</span>:</p>
        <p>&nbsp;<span><span>نفرات برگزیده&zwnj; رده&zwnj; اهنودگات و اهنودگات زیر
                </span></span>14 <span><span>سال دوره&zwnj;های پیشین مانتره</span></span></p>
        <p>&nbsp;<span><span>شرکت&zwnj;کنندگان </span></span>&shy;<span><span>دوره&zwnj;های</span></span>&shy;
            <span><span>پیشین</span></span>&shy; <span><span>مانتره</span></span>&shy; <span><span>در</span></span>&shy;
            <span><span>حداقل</span></span>&shy; <span><span>یکی
                </span></span>&shy;<span><span>از</span></span>&shy; <span><span>رده&zwnj;های
                    اشتود</span></span>-<span><span>سپنتمدگات و کل
                    گاتا </span></span>
        </p>
        <p><span><span><strong>رده&zwnj;
                        اشتود</strong></span></span><strong>-</strong><span><span><strong>سپنتمدگات</strong></span></span><strong>:
            </strong></p>
        <p><span><span>این رده شامل خواندن دو بخش اشتودگات و سپنتمدگات گاهان و
                    همچنین بخش&zwnj;هایی از اوستای&zwnj;بایسته، به دین</span><span>&zwnj;</span><span>دبیره با آوای خوش
                    بوده و شرکت برای همگان در این رده آزاد است، به جز</span></span>:
        </p>
        <p>&nbsp;<span><span>نفرات برگزیده رده&zwnj; اشتود</span></span>-<span><span>سپنتمدگات در دوره&zwnj;های پیشین
                    مانتره</span></span></p>
        <p>&nbsp;<span><span>شرکت&zwnj;کنندگان دوره&zwnj;های پیشین مانتره در
                    رده&zwnj; کل گاتا</span></span>.</p>
        <p><span><span><strong>رده&zwnj; کل
                        گاتا</strong></span></span><strong>:</strong></p>
        <p><span><span>شرکت&zwnj;کنندگان در این رده باید توانایی کافی در خواندن هر
                    پنج بخش گاتا و اوستای بایسته به دین&zwnj;دبیره و با آوای خوش را
                    داشته</span></span>&shy;&zwnj;<span><span>باشند</span></span>.</p>
        <ul>
            <li>
                <p><span><span>شرکت&zwnj;کنندگان رده </span></span>&laquo;<span><span>کل گاتا</span></span>&raquo;
                    <span><span>که در دوره&zwnj;های پیشین برگزیده شده</span></span>&shy;<span><span>اند،
                        </span><u><span>تنها می&zwnj;توانند در
                                سال</span></u></span><u>&shy;</u><span><span>های آینده در
                            رده&zwnj;های از برخوانی شرکت نمایند و مجاز به شرکت در دیگر رده&zwnj;های اوستاخوانی
                            نیستند</span></span>.</p>
            </li>
        </ul>
        <ul>
            <li>
                <p><span><span>شایسته است یادآور شویم، امسال نیز به دلیل برگزاری
                            همایش مانتره به صورت مجازی، رده</span></span>&shy;<span><span>های
                            ازبرخوانی برگزار نخواهند شد</span></span>.</p>
            </li>
        </ul>
        <ul>
            <li>
                <p><span><span>بخش مانترک با هدف راهنمایی، هدایت، پرورش و آموزش صحیح
                            رده سنی </span></span>10 <span><span>تا </span></span>13 <span><span>سال برگزار
                            می&zwnj;شود</span></span>. <span><span>بر این اساس</span><span><strong>،
                            </strong></span>شرکت در بخش
                        اوستاخوانی برای این رده سنی، پیشنهاد نمی</span><span
                          lang="en-GB">&shy;</span><span>شود</span><span
                          lang="en-GB"><strong>.</strong></span><span><span>هرچند که کانون دانشجویان زرتشتی مانع از حضور
                            عزیزان این رده سنی در بخش
                            اوستاخوانی نمی</span></span>&shy;<span><span>گردد و انتخاب را به
                            عهده شخص و والدین او قرار می&zwnj;دهد</span></span>.</p>
            </li>
        </ul>
        <p><span><strong>بایسته است، تمامی شرکت&zwnj;کنندگان رده سنی </strong></span><span lang="en-GB"><strong>10
                </strong></span><span><strong>تا </strong></span><span lang="en-GB"><strong>13
                </strong></span><span><strong>سال </strong></span><span
                  lang="en-GB"><strong>(</strong></span><span><strong>متولدین از </strong></span><span
                  lang="en-GB"><strong>1 </strong></span><span><strong>مهرماه </strong></span><span
                  lang="en-GB"><strong>1387 </strong></span><span><strong>تا </strong></span><span
                  lang="en-GB"><strong>31 </strong></span><span><strong>شهریورماه </strong></span><span
                  lang="en-GB"><strong>1390) </strong></span><span><strong>جهت حضور در مانتره ابتدا در بخش
                    مانترک شرکت نمایند</strong></span><span lang="en-GB"><strong>.</strong></span></p>
        <p><span><span>نام&zwnj;نویسی در بخش مانترک نیز همزمان با ثبت&zwnj;نام بخش
                    اوستاخوانی در روزهای</span></span><strong>8 </strong><span><span><strong>تا
                    </strong></span></span><strong>14 </strong><span><span><strong>خردادماه
                    </strong></span></span><strong>1400 </strong><span><span>از طریق </span></span><u><a
                   href="http://www.portal.kdz.ir/"><strong>www.portal.kdz.ir</strong></a></u><span><span>انجام
                    می</span></span>&shy;<span><span>پذیرد و
                    شرکت&zwnj;کنندگان این رده سنی می&zwnj;توانند، در پایان ثبت&zwnj;نام خود در بخش مانترک، در صورت تمایل
                    در بخش اوستاخوانی نیز نام&zwnj;نویسی نمایند</span></span>.</p>
        <p><span><strong>شایان یادآوری است، نام</strong></span><span
                  lang="en-GB"><strong>&shy;</strong></span><span><strong>نویسی در بیست و هشتمین همایش
                    اوستاخوانی و گاتاشناسی مانتره تنها به گونه&zwnj;ی الکترونیکی و از طریق تارنمای ذکر شده در بالا صورت
                    می&zwnj;پذیرد</strong></span><span lang="en-GB"><strong>.</strong></span></p>
        <p><span><span>جهت اطمینان، شرکت</span></span>&shy;<span><span>کنندگان پس از
                    نام</span></span>&shy;<span><span>نویسی،
                    می&zwnj;توانند با مراجعه به حساب کاربری خود در نشانی ذکر شده از وضعیت ثبت&zwnj;نام خود آگاه
                    شوند</span></span>.</p>
        <p><span><span>شرکت</span></span>&shy;<span><span>کنندگان می</span></span>&shy;<span><span>توانند در صورت
                    بروز هرگونه مشکلی در هنگام ثبت&zwnj;نام، از ساعت </span></span>17 <span><span>الی </span></span>21
            <span><span>در روزهای
                    ثبت</span></span>&shy;<span><span>نام با آی&zwnj;دی تلگرام کانون
                </span></span>&shy;<span><span>دانشجویان زرتشتی</span></span><strong>kdz_id
                &shy;@</strong><span><span>در ارتباط باشند</span></span>.</p>
        <p><span>یاد&zwnj;آوری می&zwnj;گردد، در کنار این فراخوان، فراخوان&zwnj;های دیگری برای
                بخش&zwnj;های گاتاشناسی و مانترک و آیین</span>&shy;<span>نامه</span>&shy;<span>های
                بخش</span>&shy;<span>های اوستاخوانی و گاتاشناسی همایش سراسری مانتره نیز
                فراهم آمده</span>&shy;<span>است که در تارنمای رسمی کانون دانشجویان زرتشتی قابل مشاهده
                است</span>.</p>
        <p><span><span><strong>کانون دانشجویان زرتشتی</strong></span></span></p>
    </div>
    <button mat-flat-button
            color="primary"
            [disabled]="!isReadAll && !isTimerEnded"
            routerLink="personal-information"
            class="float-left">
        تایید آیین نامه
    </button>
</div>