img {
    cursor: pointer;
    width: 20vw;
    height: 20vw;
    border: 1px solid rgb(128, 128, 128);

    @media (max-width: 959px) {
        width: 70vw;
    }
}

.app-back-button-style{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}