<div fxLayout="column"
     fxLayoutGap="20px">
    <h3>تایید آیین نامه</h3>
    <div class="mt-5 pt-2"
         (scroll)="onScroll($event)">
        <p align="center"><span> آیین</span>&shy;<span> نامه بخش اوستاخوانی </span></p>
        <p align="center"><span>بیست</span>&shy; <span>و هشتمین همـایش اوستاخوانی و گاتاشناسی مانتره</span></p>
        <p align="center">(<span>دومین دوره مجازی</span>)</p>
        <p><span><strong>مقدمه</strong></span><strong>:</strong></p>
        <p><span>به دلیل شیوع ویروس</span>&shy;<span>کرونا، جهت حفظ تندرستی هازمان فهیم زرتشتی، برآن شدیم، تا همایش
                سراسری اوستاخوانی و گاتاشناسی مانتره را این</span>&shy;<span>بار نیز از راه دور و به صورت مجازی برگزار
                کنیم</span>.</p>
        <p><span>امید است، تا به زودی و در سال</span>&shy;<span>های آتی، به دور از هرگونه بیماری،
                گرد</span>&shy;<span>هم آمده و مانتره، این تنها همایش دینی زرتشتیان سراسر کشور را هرچه
                باشکوه</span>&shy;<span>تر و با همدلی برگزار نماییم</span>.</p>
        <p><span><strong>قوانین ثبت نام</strong></span><strong>:</strong></p>
        <ul>
            <li>
                <p><span><strong>متقاضی شرکت در همایش اوستاخوانی و گاتاشناسی مانتره باید زرتشتی
                            باشد</strong></span><strong>.</strong></p>
            </li>
        </ul>
        <p><span>ملاک تشخیص</span>:</p>
        <p><span>شرکت&zwnj;کنندگان بالای ۱۸ سال</span>: <span>ارسال اسکن کارت شناسایی زرتشتی شرکت&zwnj;کننده </span></p>
        <p><span>شرکت&zwnj;کنندگان زیر ۱۸ سال</span>: <span>ارسال اسکن کارت شناسایی زرتشتی پدر و مادر شخص </span></p>
        <p><span>در صورت نداشتن شرایط بالا، تاییدیه از طرف انجمن محل سکونت نیاز است</span>.</p>
        <ul>
            <li>
                <p><span><strong>قوانین ثبت&zwnj;نام در رده&zwnj;های مختلف اوستاخوانی و گاتاشناسی در فراخوان&zwnj;های
                            این دو بخش به همراه فراخوان بخش مانترک آمده است</strong></span><strong>.
                    </strong><span><strong>فراخوان&zwnj;های بخش&zwnj;های اوستاخوانی، </strong></span></p>
            </li>
        </ul>
        <p><span><strong>گاتاشناسی و مانترک در تارنمای رسمی کانون دانشجویان زرتشتی به نشانی </strong></span><u><a
                   href="http://www.kdz.ir/"><strong>www.kdz.ir</strong></a></u><span><strong>قرار گرفته
                    است</strong></span><strong>.</strong></p>
        <p><span><strong>نکات تکمیلی ثبت&zwnj;نام در بخش اوستاخوانی</strong></span><strong>:</strong></p>
        <ol>
            <li>
                <p><span>برگزاری مرحله</span>&shy;<span>ی مقدماتی بخش اوستاخوانی مانتره بیست و هشت <u>متعاقباً</u> اعلام
                        می&zwnj;گردد</span>.</p>
            </li>
            <li>
                <p><span><u>مرحله</u></span>&shy;<span>ی پایانی بخش اوستاخوانی مانتره، در </span>4 <span>رده</span>&shy;
                    <span>اهنودگات، اشتود</span>-<span>سپنتمدگات، کل گاتا و ازبرخوانی زیر </span>10 <span>سال برگزار
                        می</span>&shy;<span>گردد</span>.</p>
            </li>
            <li>
                <p><span>قوانین مربوط به ثبت&zwnj;نام رده</span>&shy;<span>های مختلف این بخش، در فراخوان اوستاخوانی به
                        تفصیل توضیح داده شده &zwnj;است</span>.</p>
            </li>
            <li>
                <p><span>شرکت&zwnj;کنندگان این امکان را دارند تا در بخش گاتاشناسی نیز شرکت کنند</span>.</p>
            </li>
        </ol>
        <p><span><strong>شیوه</strong></span><strong>&shy;</strong><span><strong>ی برگزاری بخش اوستاخوانی به صورت
                    مجازی</strong></span><strong>:</strong></p>
        <ol>
            <li>
                <p><span>مرحله</span>&shy;<span>ی پایانی بخش اوستاخوانی مانتره، به صورت مجازی در فضای
                    </span>"<span>اسکای&zwnj;روم</span>" <span>برگزار خواهد شد</span>.</p>
            </li>
        </ol>
        <p><span><strong>تذکر</strong></span><strong>1:</strong><span>پیوند </span>(<span>لینک</span>) <span>ورود به
                فضای اسکای&zwnj;روم، یک روز پیش از آغاز همایش، در تارنمای رسمی و کانال تلگرام کانون دانشجویان زرتشتی
                قرار خواهد گرفت و همکیشان گرامی می</span>&shy;<span>توانند، از این طریق و با عنوان مهمان در همایش حضور
                یابند</span>.</p>
        <ol start="2">
            <li>
                <p><span>شرکت&zwnj;کنندگان موظفند، جهت حضور هرچه بهتر در همایش مجازی اوستاخوانی و گاتاشناسی مانتره،
                        امکانات زیر را مهیا فرمایند</span>:</p>
            </li>
        </ol>
        <p><span>الف</span>) <span>اینترنت با سرعت مناسب</span></p>
        <p><span>ب</span>) <span>یک رایانه یا دو گوشی هوشمند و یک تلفن ثابت</span></p>
        <p><span>ج</span>) <span>هندزفری یا هدفون</span></p>
        <p><span>د</span>) <span>آخرین نسخه</span>&shy;<span>ی یکی از مرورگرهای کروم </span>(Chrome)<span>، فایر فاکس
            </span>(Fire fox)<span>، سافاری </span>(Safari)</p>
        <p><span><strong>تذکر</strong></span><strong>1: </strong><span>بروز هرگونهاختلال فنی در زمان برگزاری همایش
                مانتره از جمله قطعی اینترنت، اشکال در انتقال تصویر و صوت و</span>... <span>که موجب قطع ارتباط از سوی
                شرکت&zwnj;کننده گردد، بر عهده&zwnj;ی شخص شرکت&zwnj;کننده می</span>&shy;<span>باشد و <strong>کانون
                    دانشجویان زرتشتی هیچ&zwnj;گونه مسئولیتی در قبال این اشکالات ندارد</strong></span><strong>. </strong>
        </p>
        <p><span><strong>نکته</strong></span><strong>:</strong><span><u>در این صورت شرکت&zwnj;کننده موظف است، پس از
                    اتصال مجدد، فولدر </u></span>(<span>پوشه</span>) <span>سوال دیگری را گزینش
                نماید</span><u><strong>.</strong></u></p>
        <p><span><strong>تذکر</strong></span><strong>2: </strong><span>در صورت بروز اختلال فنی <u>بیش از </u></span><u>3
            </u><span>بار برای یک شرکت&zwnj;کننده، در صورت صلاحدید، جهت شرکت وی در بخش اوستاخوانی مانتره، تدبیری
                اندیشیده خواهد شد</span>.</p>
        <p><span><strong>تبصره </strong></span><strong>1: </strong><span>در صورت مشاهده هرگونه تخلف از قوانین اخلاقی از
                جمله، لحن و برخورد نامناسب با برگزار کنندگان، رعایت نکردن موارد آیین&zwnj;نامه بخش اوستاخوانی پیش از
                برگزاری و در طول برگزاری همایش مانتره و</span>... <span>بنا به صلاحدید کانون دانشجویان زرتشتی،
                شرکت&zwnj;کننده از شرکت در همایش مانتره </span>28 <span>و </span>29 <span>محروم
                می</span>&shy;<span>گردد</span>.</p>
        <p><span><strong>تبصره </strong></span><strong>2:</strong><span>در زمان برگزاری بخش اوستاخوانی، در صورت خوانده
                شدن نام شرکت&zwnj;کننده، فرد به مدت </span><u>2 </u><span>دقیقه زمان دارد، تا با بالا بردن دست خود اعلام
                حضور کند</span>. <span>در غیر این صورت نوبت وی به انتهای شرکت&zwnj;کنندگان همان رده منتقل خواهد
                گشت</span>. <span>در انتهای رده، بار دیگر نام شرکت&zwnj;کنندگان متأخر توسط مجری خوانده خواهد شد و هر فرد
                تنها <u>۳ دقیقه</u> زمان دارد تا اعلام حضور کند</span>. <span>در غیر این صورت امکان شرکت فرد در آن رده،
                در مانتره </span>28 <span>از ایشان گرفته خواهد شد</span>.</p>
        <ol start="3">
            <li>
                <p><span>کانون دانشجویان زرتشتی جهت آمادگی هرچه بیشتر شرکت&zwnj;کنندگان، پیش از برگزاری همایش مانتره،
                        جلساتی جهت تست در اسکای&zwnj;روم در نظر گرفته &zwnj;است که زمان برگزاری آن یک هفته پیش از
                        برگزاری همایش بوده و متعاقباً اعلام می</span>&shy;<span>گردد</span>.</p>
            </li>
        </ol>
        <p><span><strong>تبصره </strong></span><strong>1:</strong><span>شرکت در این جلسات بر تمامی شرکت&zwnj;کنندگان بخش
                اوستاخوانی مانتره بایسته است و درصورت عدم حضور در این جلسات، فرد از شرکت در همایش مانتره </span>28
            <span><u>منع می&zwnj;گردد</u></span>.</p>
        <ol start="4">
            <li>
                <p><span>بایسته است، همچون سالیان گذشته شرکت&zwnj;کنندگان در هنگام وصل بودن تصاویرشان،
                        جامه</span>&shy;<span>ی سپید بر تن داشته باشند</span>.</p>
            </li>
        </ol>
        <p><span><strong>تذکر</strong></span><strong>:</strong><span>بر سر داشتن شال یا کلاه سپید بر تمامی
                شرکت&zwnj;کنندگان الزامی می</span>&shy;<span>باشد</span>.</p>
        <p><span><span lang="ar-SA"><strong>زمان برگزاری همایش مانتره و اعلام
                        نتایج</strong></span></span><strong>:</strong></p>
        <ol>
            <li>
                <p><span>کانون دانشجویان زرتشتی موظف است، تاریخ دقیق برگزاری هر رده را حداکثر تا پنج روز پیش از زمان
                        برگزاری مرحله مقدماتی و پایانی مانتره اعلام نماید</span>.</p>
            </li>
            <li>
                <p><span>ثبت&zwnj;نام&zwnj;کنندگان در صورت عدم تمایل به شرکت و انصراف از شرکت در هریک از رده&zwnj;های
                        ثبت&zwnj;نام شده، موظفند، <u>دست</u></span><u>&shy;</u><span>کم پنج روز پیش از برگزاری همایش،
                        عدم حضور خود را به روابط عمومی مانتره اطلاع دهند</span>.</p>
            </li>
            <li>
                <p><span>کانون دانشجویان زرتشتی موظف است، نتایج هر رده را تا </span>72 <span>ساعت پس از برگزاری آن رده،
                        از طریق تارنمای رسمی کانون دانشجویان زرتشتی و نیز در پروفایل هر شرکت&zwnj;کننده، اعلام&zwnj;
                        نماید</span>.</p>
            </li>
        </ol>
        <p><span><strong>کانون دانشجویان زرتشتی</strong></span></p>
    </div>
    <button mat-flat-button
            color="primary"
            [disabled]="!isReadAll && !isTimerEnded"
            routerLink="under10"
            *ngIf="avestaAgeRange==1"
            class="float-left">
        تایید آیین نامه
    </button>
    <button mat-flat-button
            color="primary"
            [disabled]="!isReadAll && !isTimerEnded"
            routerLink="up13"
            *ngIf="avestaAgeRange==4"
            class="float-left">
        تایید آیین نامه
    </button>
    <button mat-flat-button
            color="primary"
            *ngIf="avestaAgeRange==3"
            [disabled]="!isReadAll && !isTimerEnded"
            routerLink="up13"
            class="float-left">
        تایید آیین نامه
    </button>
</div>