<div class="text-center	">
        <p class="mb-2">رشته مورد نظر را انتخاب کنید</p>
        <br>
        <div class="flex flex-wrap justify-center gap-2 max-md:flex-col">
                <button color="accent"
                        class="basis-1/3"
                        mat-raised-button
                        routerLink="">آمادگی جسمانی</button>
                <button mat-raised-button
                        class="basis-1/3"
                        color="primary"
                        routerLink="">دوچرخه سواری</button>
                <app-back-button class=" basis-1/3"></app-back-button>
        </div>
</div>