<form>
    <app-image-uploader label="آخرین کارنامه تحصیلی"></app-image-uploader>
    <app-image-uploader label="تعهدنامه و رضایتنامه والدین به صورت دست
    نویس"></app-image-uploader>
    <app-image-uploader label="مدرک مربوط به موفقیتتان"></app-image-uploader>
    <mat-form-field>
        <mat-label>
            محل صدور شناسنامه
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            مقطع تحصیلی
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            معدل سال گذشته
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            نام مدرسه محل تحصیل سال جاری
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            نام مدرسه محل تحصیل سال گذشته
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            پست الکترونیک
        </mat-label>
        <input type="email"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            آیا مبت` به بیماری خاصی هستید؟
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            وزن خود را به کیلوگرم وارد کنید
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            قد خود را به سانتیمتر وارد کنید
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            گروه خونی خود را وارد کنید
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <div>
        <mat-form-field>
            <mat-label>
                گروه خونی خود را وارد کنید
            </mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</form>