<form>
    <app-image-uploader label="آخرین کارنامه تحصیلی"></app-image-uploader>
    <app-image-uploader label="تعهدنامه و رضایتنامه والدین به صورت دست
    نویس"></app-image-uploader>
    <app-image-uploader label="مدرک مربوط به موفقیتتان"></app-image-uploader>
    <mat-form-field>
        <mat-label>
            محل صدور شناسنامه
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            مقطع تحصیلی
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            معدل سال گذشته
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            نام مدرسه محل تحصیل سال جاری
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            نام مدرسه محل تحصیل سال گذشته
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            پست الکترونیک
        </mat-label>
        <input type="email"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            آیا مبت` به بیماری خاصی هستید؟
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            وزن خود را به کیلوگرم وارد کنید
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            قد خود را به سانتیمتر وارد کنید
        </mat-label>
        <input type="number"
               matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            گروه خونی خود را وارد کنید
        </mat-label>
        <input matInput>
    </mat-form-field>
    <div>
        <h2>مشخصات خانواده شرکت کننده </h2>
        <p>در زیر مواردی ارائه شده است. این موارد را درباره
            وضعیت پدر، مادر، خواهران، برادران و سایر افرادی که
            با خانواده شما زندگی میکنند، به طور کامل پر کنید
            هر سری از سواYت مربوط به یک نفر از اعضای خانواده
            میباشد. پر کردن سواYت مربوط به یک نفر (هشت سوال
            (اولیه الزامیست
        </p>
        <mat-form-field>
            <mat-label>
                نام سرپرست خانواده
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                نام خانوادگی سرپرست خانواده
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                نسبت سرپرست خانواده با شما
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                تعداد افراد تحت تکفل سرپرست خانواده
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                وضعیت تاهل
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                سن
            </mat-label>
            <input type="tel"
                   matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                شغل
            </mat-label>
            <input matInput>
        </mat-form-field>
        <div><!--this div gains family members information.-->
            <mat-form-field>
                <mat-label>
                    نام
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    نام خانوادگی
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    نسبت
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    وضعیت تاهل
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    سن
                </mat-label>
                <input type="tel"
                       matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    شغل
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    میزان تحصیلات
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    تلفن همراه
                </mat-label>
                <input type="tel"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div>
        <!--this section has a condtion about living place-->
        <h2>مشخصات یکی از اقوام نزدیک در تهران
        </h2>
        <mat-form-field>
            <mat-label>
                نام
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                نام خانوادگی
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                نسبت
            </mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                تلفن همراه
            </mat-label>
            <input type="tel"
                   matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                تلفن ثابت
            </mat-label>
            <input type="tel"
                   matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                آدرس پستی دقیق محل سکونت
            </mat-label>
            <textarea 
                      matInput></textarea>
        </mat-form-field>
    </div>
    <div>
        <h2>اط&عات تکمیلی شرکت کننده</h2>
    </div>
</form>