/* You can add global styles to this file, and also import other style files */
@use '@angular/material'as mat;
@import '~ngx-lightbox/lightbox.css';
@import './app/core/scss/bootstrap.scss';
@import './app/core/scss/spacing.scss';
@import './app/core/scss/float.scss';
@import './app/core/scss/loading-spinner.scss';
// @import './app/core/scss/material-icons.scss';
// @import './app/core/scss/roboto.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: hidden;
}
// @include mat.all-component-typographies($custom-typography);
@include mat.core();
$my-primary: mat.define-palette(mat.$light-green-palette,900);
$my-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$custom-typography: mat.define-typography-config($font-family: 'Vazir FD');
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: $custom-typography,
 density: 0,
));

@include mat.all-component-themes($my-theme);

.text-center {
    text-align: center !important;
}

.el-center {
    margin-right: auto;
    margin-left: auto;
}


.mat-loading .mat-mdc-progress-spinner {
    position: absolute;
    top: calc(29% - 10px);
    left: calc(50% - 10px);
}

.text-warn {
    color: red;
}

.pulse {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    cursor: pointer;
}

.pulse:disabled {
    cursor: not-allowed;
}

.pulse:hover:not([disabled]),
.pulse:focus:not([disabled]) {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);

    color: #a85f84;
    transition: 0.25s;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 adjust-hue(#863e62, 45deg);
    }
}

.link-active {
background-color: map-get(mat.define-palette(mat.$indigo-palette), 50) !important;
}
.home-page-background {
    height: 60vh;
    background-color: rgb(255, 255, 255);
}