<mat-accordion class="gap-2">
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            بدمینتون
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <a mat-flat-button
            routerLink="4/1"
            color="primary">انفرادی</a>
         <a mat-flat-button
            routerLink="double/4/1"
            color="accent">دوبل میکس</a>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            تنیس روی میز
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-3 gap-4">
         <button mat-flat-button
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 color="accent">دوبل</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            شطرنج
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 color="accent">دوبل میکس</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            شنا
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 color="accent">دوبل میکس</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            دو میدانی
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 color="accent">دوبل میکس</button>
      </div>
   </mat-expansion-panel>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            دوچرخه سواری
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-2 gap-4">
         <button mat-flat-button
                 color="primary">انفرادی</button>
         <button mat-flat-button
                 color="accent">دوبل میکس</button>
      </div>
   </mat-expansion-panel>
</mat-accordion>

<a mat-button
   routerLink="sport-insurence"> بیمه ورزشی</a>