<button mat-button
        [matMenuTriggerFor]="menuBadminton">بدمینتون</button>
<button mat-button
        [matMenuTriggerFor]="menuPingPong">تنیس روی میز</button>
<button mat-button
        [matMenuTriggerFor]="menuChess">شطرنج</button>
<button mat-button
        [matMenuTriggerFor]="menuSwimming">شنا</button>
<button mat-button
        [matMenuTriggerFor]="menuRunning">دو میدانی</button>
<button mat-button
        [matMenuTriggerFor]="menuByc" >دوچرخه سواری</button>

<mat-menu #menuBadminton="matMenu">
    <button mat-menu-item
            routerLink="single/4/1">انفرادی</button>
    <button mat-menu-item>دوبل میکس</button>
</mat-menu>
<mat-menu #menuPingPong>
    <button mat-menu-item>انفرادی</button>
    <button mat-menu-item>دوبل</button>
    <button mat-menu-item>دوبل میکس</button>
</mat-menu>
<mat-menu #menuChess>
    <button mat-menu-item>انفرادی</button>
    <button mat-menu-item>دوبل</button>
    <button mat-menu-item>مطرنج</button>
    <button mat-menu-item>بلیتس</button>
</mat-menu>
<mat-menu #menuSwimming>
    <button mat-menu-item>کرال سینه</button>
    <button mat-menu-item>قورباغه</button>
    <button mat-menu-item>مختلط</button>
</mat-menu>
<mat-menu #menuRunning>
    <button mat-menu-item>سرعت</button>
    <button mat-menu-item>استقامت</button>
    <button mat-menu-item>نیمه استقامت</button>
</mat-menu>
<mat-menu #menuByc>
    <button mat-menu-item>استقامت</button>
    <button mat-menu-item>تایم تریل سرعت</button>
</mat-menu>