<table mat-table
       matSort
       [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> نام </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.name+' '+element.profile.family}} </td>
    </ng-container>


    <ng-container matColumnDef="playerType">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>نقش </th>
        <td mat-cell
            *matCellDef="let element"> {{element.playerTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="nationalCode">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> کد ملی </th>
        <td mat-cell
            *matCellDef="let element"> {{element.nationalCode}} </td>
    </ng-container>
    <ng-container matColumnDef="ageRangeName">
        <th mat-header-cell
            *matHeaderCellDef> گروه سنی </th>
        <td mat-cell
            *matCellDef="let element"> {{element.ageRangeName}} </td>
    </ng-container>
    <ng-container matColumnDef="fieldName">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> رشته </th>
        <td mat-cell
            *matCellDef="let element"> {{element.fieldName}} </td>
    </ng-container>
    <ng-container matColumnDef="subFieldName">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> رشته </th>
        <td mat-cell
            *matCellDef="let element"> {{element.subFieldName}} </td>
    </ng-container>
    <ng-container matColumnDef="sex">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> جنسیت </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.sex}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> شهر </th>
        <td mat-cell
            *matCellDef="let element"> {{element.profile.city}} </td>
    </ng-container>
    <ng-container matColumnDef="created">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> شماره همراه </th>
        <td mat-cell
            *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
    <ng-container matColumnDef="image">
        <th mat-header-cell
            *matHeaderCellDef> عکس </th>
        <td mat-cell
            *matCellDef="let element">
            <img target="_blank"
                 class="w-3 h-3"
                 [src]="'https://api.kdz.ir/api/v1/files/show/'+element.profile.personalPhoto">
        </td>
    </ng-container>
    <ng-container matColumnDef="idCard">
        <th mat-header-cell
            *matHeaderCellDef> شناسنامه </th>
        <td mat-cell
            *matCellDef="let element">
            <img target="_blank"
                 class="w-3 h-3"
                 [src]="'https://api.kdz.ir/api/v1/files/show/'+element.profile.IdCardPhoto">
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell
            *matHeaderCellDef></th>
        <td mat-cell
            *matCellDef="let element"> </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns">

    </tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>